.logo{ 
    width: 400px; 
    height: 150px; 
    display: block;
    margin: auto;
    margin-top: 120px;   
}


#menu {
    font-weight: bold; 
}

.btn {
    display: flex;
    margin: 30px auto; /*위아래 여백은 유지하고 좌우 여백을 auto로 설정*/
    padding: 10px 20px;
    background-color: whitesmoke;
    color: darkcyan;
    text-decoration: none;
    place-content: center;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    width: 400px;
    height: 30px;
   
    font-family: 'Noto Sans KR', sans-serif;
  }

  footer {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: black;
}

.info, .water, .mode {
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    color: darkcyan;
    text-align: center;
    border: 2px solid #EEEFF1;
    padding: 10px;
    background-color: #EEEFF1;
    border-radius: 10px;
    margin: 10px 250px 10px 250px;
}
