<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 메타 뷰포트 설정: HTML <head> 섹션에 다음과 같은 메타 태그를 추가하여 모바일 장치에서 화면을 적절하게 렌더링할 수 있도록 합니다. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeKeyFarm</title>

    <link rel = "stylesheet" href = "../static/style.css">
</head>

<!-- 배경색 -->
<body style="background-color:darkcyan" >
    <header>   
        <!--상단부-->
        <!--로고-->
        <div class="container">
            <img src="../static/logo.jpg" class="logo">
        </div>
    </header>
        <!--메뉴-->
        <div id="menu">
            <ul>
                
                    <a href = "http://127.0.0.1:5000/TEMP"  class = "btn" target = "_self">plant 1</a>
                    <a class = "btn" target = "_self">plant 2</a>
                    <a class = "btn" target = "_self">plant 3</a>
          
            </ul>
        </div>
        


    <!--하단-->
    <footer>
        <div>
            <a>제작 | 엑서지바라기&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>  <!--공백:&nbsp-->
            <address>이메일 | exergy@gmail.com&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</address>
            <a>특허번호 | EXERGY12345</a>
        </div>
    </footer>
<body>
</html>