<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel = "stylesheet" href = "../static/style.css">

</head>
<body style="background-color:lightgrey;">
    <nav>   
        <ul>
            <div id="top_menu" >
                <a href = "http:///192.168.21.161:5000/"  class = "btn" target = "_self">홈</a>
                <a href = "http:///192.168.21.161:5000/temp" class = "btn" target = "_self">온도/습도</a>
                <a href = "http:///192.168.21.161:5000/spec" class = "btn" target = "_self">사양</a>
            </div>
        </ul>
    </nav>
    <div class="s_container">
        <div class=""image-container">
            <img src="../static/specimage.jpg" class="threeDs">
        </div>
        <div class="text">
          <h2>제품 사양</h2>
          <ul>
            <li>첫 번째 줄의 문구입니다.</li>
            <li>두 번째 줄의 문구입니다.</li>
            <li>세 번째 줄의 문구입니다.</li>
        </ul>
    </div>
   </div> 
</body>
</html>

