<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeKeyFarm</title>

    <link rel = "stylesheet" href = "../static/style.css">

</head>
<body style="background-color:darkcyan">
    <div class="background">
    </div>
    <div class="info">
        <h1>온도 / 습도</h1>
        <li>현재의 온도는 {{ temp }}℃ 입니다</li>
        <li>현재의 습도는 {{ hum }}% 입니다</li>
    </div>
    <div class="water">
        <h1>물 용량</h1>
        <li>현재의 물 용량은 80% 입니다.</li>
    </div>
    <div class="mode">
        <h1>모드</h1>
        <li>현재의 모드는 냉방모드 입니다.</li>
    </div>
</body>
</html>