.logo{ 
    width: 400px; 
    height: 150px; 
    display: block;
    margin: auto;
    margin-top: 120px;    
}


#menu {
    font-weight: bold; 
    position: absolute;
}

.btn {
    display: inline-block; /* 인라인 블록 요소로 설정하여 여러 버튼을 한 줄에 배치할 수 있도록 함 *//*한줄로 배치하면서 블록으로 높이나 너비 지정 가능*/
    padding: 10px 20px;  /*버튼의 여백을 설정 */
    background-color: whitesmoke; /* 원하는 배경색으로 설정 */
    color: darkcyan; /* 버튼 텍스트의 색상을 설정 */
    text-decoration: none; /* 밑줄을 제거하여 버튼으로 보이도록 함 */
    border-radius: 10px; /* 버튼의 모서리를 둥글게 만듦 */
    font-size: 20px; /* 버튼 텍스트의 크기를 설정 */
    width: 800px;
    height: 30px;
    text-align: center;
    margin-top: 30px;
    margin-left: 310px;
    font-family: 'Noto Sans KR', sans-serif;
  }

  footer {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: black;
}

.info {
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    color: darkcyan;
    font-display: inline;
    text-align: center;
    margin-top: 150px; 

    width: 500px;
    height: 300px;
    border: 2px solid #EEEFF1;
    padding: 10px;
    margin-left: 500px;
    background-color: #EEEFF1;
    border-radius: 10px;
}
