<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel = "stylesheet" href = "../static/login.css">
</head>
<body class="login">
    <div class="login-form">
        <img src="../static/logo.jpg" class="loglogo">
        <form action="/login" method="post">
            <!-- <label for="username">Username:</label> -->
            <input type="text" class="text-field" name="username" placeholder="아이디" required><br>
            <!-- <label for="password">Password:</label> -->
            <input type="password" class="text-field" name="password" placeholder="비밀번호" required><br>
            <button type="submit" class="submit-btn">로그인</button>
        </form>
    </div>
</body>
</html>